	<!DOCTYPE html>
	<html>
	  <head>
	    <meta charset="utf-8">
	    <title>Getting stuff in an app</title>
	  </head>
	  <body>
      <header>
        <a href="#">Home</a>
        <a href="#">Products</a>
        <a href="#">About</a>
      </header>
      <%= yield %>
      <footer>&copy; 2015.  Matt Herron.</footer>

	  </body>
	</html>
